[
    {
        "packageObjectId": "",
        "module": "perpetual",
        "events": [
            "PerpetualCreationEvent",
            "OperatorUpdateEvent",
            "MinOrderPriceUpdateEvent",
            "AccountPositionUpdateEvent",
        ]
    }
]